name: Unit Tests

on: pull_request

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install nodejs
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install deps
        run: npm install

      - name: Run tests
        run: npm test
